<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <style>
			.table{
                padding-top: 5px;
                width: 100%;
                margin-bottom: 50px;
                border-collapse: collapse;
				border: 1px solid #ddd;
                font-size: 75%;
			}
			.text-success{
				background-color: #dff0d8;
			}
			.text-danger{
				background-color: #f2dede;
			}
            table thead tr td th{
                border: 1px solid #ddd;
                padding: 0.5em !important;
            }
            table thead {
                background: #eee;
            }
            td {
                border: 1px solid #ddd;
                border-width: 1px;
                border-color: rgb(221, 221, 221);
                height: 0.3em;
                padding: 0.1em;
                padding-right: 1em;
            }
            th {
                border: 1px solid #ddd;
                border-top-width: 1px;
                border-bottom-width: 1px;
                border-top-style: solid;
                border-top-color: rgb(221, 221, 221);
                background-color: rgb(240, 240, 240);
                padding: 0.4em;
                padding-right: 1em;
            }
            a{
				font-weight: bold;
			}
			.col-d{
				width: 20em !important;
				text-align: right;
			}
            .bold{
				font-weight: bold;
			}
        </style>
        <img align="right" style="" width="150" height="150" src="{{logo}}">
        <h2>Liste des adhérents de Switch in Reims</h2>
        <hr>
        <h3>Date de l'export : {{"now"|date('d/m/Y')}}</h3>
        <hr>
        <div style="width:100%">
            <table>
                <thead>
                    <tr>
                        <th class="text-center col-d">Identifiant</th>
                        <th class="text-center col-d">Nom</th>
                        <th class="text-center col-d">Prénom</th>
                        <th class="text-center col-d">Date d'expiration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        {# @var \App\Entity\Member member #}
                        <tr class="text-right">
                            <td class="col-d" nowrap>{{ member.id }}</td>
                            <td class="col-d" nowrap>{{ member.lastName }}</td>
                            <td class="col-d" nowrap>{{ member.firstName }}</td>
                            <td class="col-d" nowrap>{{ member.expirationDate|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>